.wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  overflow: visible;
}

.ball {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  box-shadow: -8px 0 rgba(0, 0, 0, 0.1) inset;
  animation: roll 1s ease-in-out infinite;
  background: linear-gradient(
    to bottom,
    #e83e35 0%,
    #e83e35 50.5%,
    #ffffff 50.51%,
    #ffffff 100%
  );
}

.ball::after {
  content: "";
  position: absolute;
  top: calc(40px - 2px);
  left: 0;
  width: 80px;
  height: 4px;
  background: #3f3f3f;
}

.ball::before {
  content: "";
  position: absolute;
  top: 26px;
  left: 26px;
  width: 28px;
  height: 28px;
  border: solid 3px #3f3f3f;
  border-radius: 50%;
  background: white;
  z-index: 1;
  box-shadow: 0 0 8px -2px #c62828 inset;
  animation: button 3s ease infinite;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }
  90%,
  to {
    transform: rotate(720deg);
  }
}

@keyframes button {
  from,
  50%,
  to {
    box-shadow: 0 0 8px -2px #c62828 inset;
  }

  25%,
  75% {
    box-shadow: 0 0 6px -2px #1300ea inset;
  }
}
